<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.eclipse.imp.runtime.languageDescription">
      <language
            extensions="lmr"
            description="LMR"
            language="LMR"
            derivedFrom="DynamicRoot"
            validator="org.metaborg.lmr.LMRValidator"
            validatorClass="org.metaborg.lmr.LMRValidator"
      ></language>
   </extension>
   <extension
         id="org.metaborg.lmr.parser"
         name="LMR Parser"
         point="org.eclipse.imp.runtime.parser">
      <parser
            class="org.metaborg.lmr.LMRParseController"
            language="LMR">
      </parser>
   </extension>    
</plugin>
